<h1>Estas son verduras</h1>
<form #formVerduras="ngForm" id='formVerduras' (ngSubmit)='guardarForm();'><!-- Esta funcion se dispara con click en el submit -->
  <input type="text" placeholder="{{formNombre}}" name="nombre" [(ngModel)]='verdura.nombre' required pattern="[a-zA-Z]+"><br/>
  <span *ngIf="verdura.nombre.touched && !verdura.nombre.valid">Nombre incorrecto</span><br/>
  <label>{{ formPrecios}}</label>
  <input type="number" name="precio" [(ngModel)]='verdura.precio'><br/>
  <label>{{formDescripcion}}</label>
  <textarea placeholder="{{formDescripcion}}" name="descripcion" [(ngModel)]='verdura.descripcion'></textarea><br/>
  <input type="submit" value="{{formGuardar}}" [disabled]="!formVerduras.form.valid">
</form>
<button (click)='redirigir();' value="Redirigir"></button>
